.MainFooter{
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    background-color: black;
    
}
.MainFooter section{
    display: flex;
    flex-flow: row;
}

@media(max-width:500px){
    .MainFooter{
        margin: 0.3px 0;
    }
}